<% layout('layouts/boilerplate') -%>
<h1 class="text-center fs-1 mt-2 fw-bold mb-2">Explore the best independant cafes...</h1>
<p class="text-center fs-6 mt-2">Use the map to find fantastic coffee shops at a location of your choosing. <br> Whether you are going away for the weekend looking for the best grinds or staying local, you are sure to find that perfect place to take a break and enjoy the best brews around!</p>
<div class="mb-5" id="cluster-map"></div>
<p class="text-center fs-7"><strong>Found a great spot not listed here?</strong><br>Add it.</p>
<p class="text-center fs-7"><strong>Have something to say about a particular cafe? </strong><br> Leave a review and share your experience with others!</p>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const cafes = {features: <%- JSON.stringify(cafes) %>}; //put cafes in a features object as mapbox clusterMap.js is looking for a 'features' object
</script>
<script src="/js/clusterMap.js"></script>
  